html, body{
	height: 100%;
	background-color: #70AA70;
}
p{
	margin-top: 0;
}
hr{
	border: 0; border-top: 1px solid #ccc;
}
.rounded-container{
	padding: 0.5em;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #081008;
}
#outer_content{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}
#header{
	background-color: #0e500e;
	padding: 0.5em;
	margin-bottom: 1em;
}
#header img{
	width: 100%;
	height: auto;
}
#nav-bar{
	float: right;
}
#header a{
	color: #FFFF00;
}
#inner_content{
	background-color: #EEEEEE;
	min-height: 800px;
	position: relative;
}
#inner_content > p{
	margin-left: 2em;
}
#inner_content li{
	margin-left: 4em;
}
#footer{
	margin-top: 4em;
	border-top: 1px solid black;
	padding-top: 1em;
	width: 100%;
	height: 10em;
	position: relative;
}
#footer img{
	float: left;
	width: auto;
	margin-top: auto;
	margin-bottom: auto;
	height: 8Em;
}
#footer p{
	float: left;
	padding: 0.5em 2px 2px 8px;
	margin-left: 1em;
	margin-top: auto;
	margin-bottom: auto;
	border-left: 1px solid black;
}
.news-post{
	border-top: 1px solid black;
	padding: 0 1em 0 1em;
}
.news-post > div{
	margin-left: 2em;
}
.first-post{
	border-bottom: 1px solid black;
}
.textEditor{
	padding: 10px;
	background-color: #EEEEEE;
	border: 1px solid #70AA70;
	border-radius: 5px;
}
