html, body{
	height: 100%;
	background-color: #f3f3f3;
}
p{
	margin-top: 0;
}
hr{
	border: 0; border-top: 1px solid #ccc;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	margin-left: 10px;
}
#outer_content{
	width: 1100px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#header{
	background-color: #0e500e;
	padding: 0.5em;
	border-bottom: 5px solid #FFFF00;
	margin: 0;
	padding: 0;
}
#header img{
	width: 100%;
	height: auto;
}
#nav-bar{
	float: right;
	margin: 0;
	padding: 0;
	padding-bottom: 2px;
}
#nav-bar li{
	float: left;
	list-style-type: none;
	padding: 0 0.5em;
}
#header a{
	color: #FFFF00;
}
#inner_content{
	background-color: white;
	position: relative;
	border-bottom: 5px solid #FFFF00;
}

#inner_content li{
	margin-left: 4em;
}
#footer{
	margin-top: 2em;
	border-top: 1px solid black;
	padding-top: 1em;
	width: 100%;
	height: 10em;
	position: relative;
}
#footer img{
	float: left;
	width: auto;
	margin-top: auto;
	margin-bottom: auto;
	height: 8Em;
}
#footer p{
	float: left;
	padding: 0.5em 2px 2px 8px;
	margin-left: 1em;
	margin-top: auto;
	margin-bottom: auto;
	border-left: 1px solid black;
}
.news-post{
	border-top: 1px solid black;
	text-align: justify;
	margin: 0 2em;
}
.news-post h3{
	margin: 0;
}
.first-post{
	border-bottom: 1px solid black;
}
.textEditor{
	padding: 10px;
	background-color: #EEEEEE;
	border: 1px solid #70AA70;
	border-radius: 5px;
}
