h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}
html, body{
	background-color: white;
}
#header{
	width: 100%;
	background-color: #0e500e;
	color: #FFFF00;
}
#header div{
	margin: 0 1em;
}
#header a{
	color: #FFFF00;
}
#navbar{
	min-width: 150px;
	margin-top: 1em;
	background-color: white;
}
#content{
	margin: 1em 0;
}
#page-content p{
	margin-left: 1em;
}
#page-content{
	max-width: 85%;
	width: 1500px;
	background-color: white;
}